#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

/*
#chat-screen .alt-header,
#chat0screen .status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}
.main-chat {
  margin-top: 150px;
}
*/

#chat-screen .fixed-header {
  background-color: #abc1d1e6;
  margin-bottom: 0px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message__author,
.message__time {
  opacity: 0.8;
  font-size: 14px;
}
.message__author {
  display: block;
  margin-bottom: 5px;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 5px;
  font-size: 18px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  margin-right: 0;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}
