.screen-header {
  position: fixed;
  top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__new-badge {
  position: absolute;
  top: -6px;
  right: -6px;
}
